.center-text {
    text-align: center !important;
}

.margin-bottom-big {
    margin-bottom: 8rem !important;
}

.margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.margin-bottom-small {
    margin-bottom: 2rem !important;
}

.margin-top-big {
    margin-bottom: 8rem !important;
}

.margin-top-huge {
    margin-bottom: 10rem !important;
}
